@font-face {
	font-family: "Quicksand";
	src: url("/assets/font/Quicksand-VariableFont_wght.ttf") format("truetype");
}
body{
	font-family: Quicksand;
}
header {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

header img {
	width: 100px;
}
header h1 {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.login-section{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}

.login-section input{
	border: none;
	background-color: pink;
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	margin: 6px;
}

.login-section button{
	border: none;
	background-color: orange;
	width: 270px;
	border-radius: 5px;
	padding: 8px;
	color: white;
	font-family: Quicksand;
	font-weight: 600;
	font-size: 17px;
	margin: 5px;
	cursor: pointer;

}

footer{
	margin-top: 6rem;
}

footer p{
	text-align: center;
}



/* menu Pages */

.container .menupage{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-top: 1 rem;
} 

.menupage h2{
	font-size: 25px;
	margin-left: 20px;
}

.menupage img{
	width: 50px;
}

 hr{
	border: none;
	height: 4px;
	width: 100%;
	background-color:pink ;
	margin-top: 10px;

}

.menulist {
	margin: 1rem 0
}
.sectionmenu{
	background-color: rgb(235, 235, 235);
	margin: 15px;
	border-radius: 8px;
}

.menu-option{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.menu-option .img-menu{
	width: 200px;
	margin: 20px;
	overflow: hidden;
	height: 110px;
	border-radius: 0.5rem;

}

.img-menu img{
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
}

.menu-option .text-menu{
	padding: 20px;
	width: 70%;
	margin: -5px;
	font-size: 15px;
}

.text-menu h4{
	background-color: rgb(192, 190, 190);
	width: 90px;
	padding: 4px;
	border-radius: 7px;
}

.text-menu .rp{
	font-size: 15px;
	margin-top: 12px;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.btn .btn-psn{
	border: none;
	background-color: rgb(236, 104, 126);
	width: 75px;
	border-radius: 7px;
	color: white;
	font-weight: 600;
	font-family: Quicksand;
	margin-right: -10px;
	cursor: pointer;
	padding: 2px;
	margin-top: 0.5rem;
}

.ft-mn p{
	text-align: center;
	margin-top: -70px;
}

/* Pesanan Page */

.line-pesanan{
	border: none;
	height: 3px;
	width: 100%;
	background-color: rgb(0, 87, 58);
	margin-top: 5px;
}

.text-pesanan{
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 15px;
	text-align: center;
	background-color: rgb(235, 235, 235);
	margin-top: 20px;
	margin: 10px;
}

.input-catatan{
	margin-top: 1rem;
	padding: 10px;
	background-color: rgb(235, 235, 235);
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 10px;
}

.input-catatan .input{
	display: flex;
	align-items: center;
	padding: 6px;
	background: #fff;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid #ccc; 
}

.input input{
	width: 100%;
	padding: 6px;
	outline: none;
	border: none;
}

.text-pesanan h1{
	color: rgb(0, 87, 58);
}

.txt-pembayaran{
	padding: 7px;
	width: 200px;
	background-color: rgb(170, 169, 169);
	border-radius: 40px;
	text-align: center;
	margin: 10px;
	color: white;
	margin-top: 2rem;
}

.line-pembayaran{
	border: none;
	height: 3px;
	width: 100%;
	background-color: rgb(0, 87, 58);
	margin-top: -5px;
	
}

.input-check label{
	display: flex;
	align-items: center;
	background: #f0eaea;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	font-weight: 600;
	margin-top: 1rem;

}

.input-check .mt-byr{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mt-byr h5{
	margin-left: 4rem;
	font-weight: normal;
	font-size: 12px;
}

#saldo{
	margin-left: 10rem;
	color: rgb(0, 87, 58);
}

.dc p{
	margin-left: 8rem;
	margin-top: -5px;
}

.btn-pesanan{
	border: none;
	background-color: rgb(0, 87, 58);
	width: 270px;
	border-radius: 7px;
	padding: 8px;
	color: white;
	font-family: Quicksand;
	font-weight: 600;
	font-size: 17px;
	margin: 5px;
	margin-left: 50px;
	cursor: pointer;
	margin-top: 70px;
}