header p{
  width: 60px;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 600;
  margin-left: 60%;
  margin-top: -45%;
}
header img{
  width: 30px;
  margin-top: 30%;
}
footer p{
  width: 300px;
  font-family: Quicksand;
  font-size: 16px;
  margin-left: 32%;
  margin-top: 10%;
}
footer{
  width: 360px;
  height: 100px;
 
}
main h1{
  width: 87.69px;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  margin-left: 35%;
  margin-top: -20%;
}
main img{
  width: 80px;
  height: 80px;
  margin-left: 4%;
  border-radius: 10px;
  margin-top: 4%;
}
main p{
  width: 167.08px;
  height: 25.35px;
  top: 114.63px;
  left: 124px;
  font-family: Nunito;
  font-size: 15px;
  margin-left: 35%;
}
