h1{
    margin-left: 55%;
    margin-top: -4%;
}
.text-uppercase {
    text-transform: uppercase;
  }

  .container-main{
    background-color: grey;
    width: 5%;
    border-radius: 15%;
    height: 3;
  }