header p{
    width: 60px;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 600;
    margin-left: 60%;
    margin-top: -45%;
  }
  header img{
    width: 30px;
    margin-top: 30%;
  }
  footer p{
    width: 300px;
    font-family: Quicksand;
    font-size: 16px;
    margin-left: 32%;
    margin-top: 10%;
  }
  footer{
    width: 360px;
    height: 100px;
   
  }
  .container {
	width: 100%; /* Width 100% untuk mengisi lebar viewport pada kontainer utama */
	max-width: 768px; /* Batasan lebar maksimum untuk ukuran mobile */
	margin: 0 auto; /* Pusatkan kontainer pada layar */
	display: flex;
	flex-direction: column;
	align-items: center;
}
* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
main h1{
    width: 295px;
    height: 22px;
    margin-left: 10%;
    margin-top: 40%;
    font-size: 19px;
}
main p{
    width: 105px;
    height: 25px;
    margin-top: 3%;
    margin-left: 33%;
    font: Quicksand;
    font-weight: 800;
    size: 20px;
    line-height: 25px;
    color: #ff9D21;
}
