body{
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    width: 390px;
    margin-bottom: 50px;
    background-color: whitesmoke;
}

.pesanan {
display: inline-flex;
}

.garis1 {
    border: 2px solid;
    color: aqua;
}

.garis {
    border: 1.5px solid;
    color: yellow;
    width: 345px;
}

.paket{
    background-color: gray;
    width: 248px;
    border-radius: 10px;
    color: white;
    margin-left: -100px;
    margin-bottom: -3px;
    margin-top: 45px;
}

.wadah1 {
    display: flex;
    align-items: center;
    background-color: wheat;
    width: 350px;
    height: 85px;
}

.wadah2 {
    display: flex;
    align-items: center;
    background-color: wheat;
    width: 350px;
    height: 85px;
}
    
.btn {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    margin-top: 50px;
}

.transaksi {
    margin-top: 30px;
}

main {
    margin-top: 50px;
}

footer {
    margin-top: 80px;
}