.header-image {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
}

.header-image img{
    max-width: 100px;
}

hr {
    border: 1px solid #2050b9;

}
.header-text-box {
    background-color: #f8f8f8; /* Warna latar belakang kotak */
    padding: 10px 20px; /* Padding untuk kotak */
    border-radius: 5px; /* Membuat sudut kotak sedikit melengkung */
}