h1{
    margin-left: 55%;
    margin-top: -4%;
}
.garis1 {
    border: none; /* Menghapus garis bawaan */
    border-top: 5px solid red; /* Menambahkan garis sesuai kebutuhan Anda */
    width: 100%; /* Panjang garis */
    margin: 0 auto; /* Membuat garis tengah di tengah halaman (opsional) */
  }
.font1{
 background: palevioletred;
 width: 10%;
 height: 40px;
 border-radius: 30px;
 margin-left: 5%;
 text-align: center;
 font-size: 30px;
 color: white;

}
.garis2 {
  border: none; /* Menghapus garis bawaan */
  border-top: 5px solid rgb(231, 126, 88); /* Menambahkan garis sesuai kebutuhan Anda */
  width: 90%; /* Panjang garis */
  margin: 0 auto; /* Membuat garis tengah di tengah halaman (opsional) */
}
.card {
  background-color: rgba(180, 178, 178, 0.938);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  width: 15%;
  margin-top: 5%;
  margin-left: 5%;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.card h2 {
  font-size: 24px;
  margin: 10px 0;
  margin-left: 50%;
}

.card p {
  font-size: 16px;
} 

.deskripsi {
  margin-left: 30%;
  margin-top: -20%;
}
.kartu2 {
  margin-top: 13%;
}
.kartu3 {
  margin-top: 10%;
}
.tambah {
    background: rgb(70, 146, 233);
    width: 10%;
    height: 40px;
    border-radius: 30px;
    margin-left: 55%;
    text-align: center;
    font-size: 30px;
    color: white;
}
button {
    background-color: rgb(240, 145, 177);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    font-size: large;
    margin-top: 5%;
    margin-left: 35%;
    height: 20%;
}
